---
import Layout from "../layouts/Layout.astro";
import AvailabilityChart from "../components/AvailabiltyChart";


const isSignedIn = false;
const isEditing = false;

const totalPeople = 12;
const maxAvailable = 10;

const maxSegments = 5;

function getGradientColor(ratio) {
  const clamp = (num, min, max) => Math.min(Math.max(num, min), max);
  const value = clamp(ratio * 100, 0, 100);

  const start = { r: 237, g: 243, b: 252 };
  const end = { r: 0, g: 74, b: 187 };

  const r = Math.round(start.r + (end.r - start.r) * (value / 100));
  const g = Math.round(start.g + (end.g - start.g) * (value / 100));
  const b = Math.round(start.b + (end.b - start.b) * (value / 100));
  return `rgb(${r},${g},${b})`;
}

const colors = Array.from({ length: maxSegments }, (_, i) => {
  const ratio = maxSegments > 1 ? i / (maxSegments - 1) : 0;
  return getGradientColor(ratio);
});

const primary_bg = "#8CA9FF"

---

<Layout>
  <div class="availability-page">
    <div class="meeting-details">
      <div class="meeting-title">Meeting Name</div>
      <div class="timezone">
        <div>Original Timezone (CST)</div>
        <div>></div>
        <div>Current Timezone (CST)</div>
      </div>
    </div>

    <div class="availabilities">
      <div class="scale">
        <div class="label">0/{totalPeople}</div>
        <div class="scale-container">
          {colors.map(color => (
            <div class="scale-segment" style={`background-color: ${color}`}></div>
          ))}
        </div>
        <div class="label">{maxAvailable}/{totalPeople}</div>
      </div>
      <AvailabilityChart client:load meetingId=""/>
    </div>

    <div class="login">

      {isEditing ? (
        <div class="edit-button">
          {/* {isSignedIn ? "Edit Availability" : (<div>Sign In </b> & </b> Add Availability</div>)} */}
          <div class="circle-button">

            <div class="circle-button-text">Edit Availability</div>
          </div>
        </div>
      ) : (
        isSignedIn ? (
          <div>Add your availability above</div>
        ): (
          <form class="login-form">
            <div class="login-inputs">
              <input type="text" placeholder="Name"/>
              <input type="password" placeholder="Password (Optional)"/>
            </div>
            <button type="submit">Submit</button>
          </form>
        )
      )}

      
    </div>
  </div>
</Layout>

<style define:vars={{primary_bg}}>
  .availability-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFF8DE;
  }

  .meeting-details {
    text-align: center;
    align-content: center;
    height: 10%;
    background-color: #AAC4F5;
  }

  .timezone > div {
    display: inline-block;
  }

  .scale {
    text-align: center;
    margin: 10px;
  }

  .scale > .label {
    display: inline-block;
  }

  .scale-container {
    display: inline-flex;
    width: 200px;
    height: 20px;
    border: 1px solid #ccc;
    vertical-align: middle;
    flex-direction: row;
  }

  .scale-segment {
    flex-grow: 1;
    height: 100%;
  }

  .availabilities {
    height: 80%;
  }


  .circle-button {
    position: relative;
    border: solid black 1px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Center the button horizontally */
    cursor: pointer;
  }

  .circle-button-text {
    position: absolute;
    text-wrap: nowrap;
    font-size: 24px; /* Increased font size */
    font-weight: bold;
    cursor: pointer;
    background-color: #cac3c3;
    padding: 2px;
  }

  .login {
    height: 20%;
    background-color: #8CA9FF;
    text-align: center;
  }

  .login-inputs {
    display: flex;
    flex-direction: row;
  }

  .login-inputs > input {
    margin: 5px;
    width: 100%;
  }

  input {
    height: 30px;
  }

</style>