---
export const prerender = false;
import Layout from "../../layouts/Layout.astro"
import AvailabilityChart from "../../components/AvailabilityChart";

const { meetingId } = Astro.params;
const userId = "user1"; // Placeholder for the current user

const isSignedIn = false;
const isEditing = false;

const totalPeople = 12;
const maxAvailable = 10;

const maxSegments = 5;

function getGradientColor(ratio) {
  const clamp = (num, min, max) => Math.min(Math.max(num, min), max);
  const value = clamp(ratio * 100, 0, 100);

  const start = { r: 237, g: 243, b: 252 };
  const end = { r: 0, g: 74, b: 187 };

  const r = Math.round(start.r + (end.r - start.r) * (value / 100));
  const g = Math.round(start.g + (end.g - start.g) * (value / 100));
  const b = Math.round(start.b + (end.b - start.b) * (value / 100));
  return `rgb(${r},${g},${b})`;
}

const colors = Array.from({ length: maxSegments }, (_, i) => {
  const ratio = maxSegments > 1 ? i / (maxSegments - 1) : 0;
  return getGradientColor(ratio);
});

const primary_bg = "#8CA9FF"

---

<Layout>
  <div class="availability-page">
    

    <div class="availabilities">
      <AvailabilityChart client:load meetingId={meetingId} userId={userId} />
    </div>

    <div class="login">

      {isEditing ? (
        <div class="edit-button">
          {/* {isSignedIn ? "Edit Availability" : (<div>Sign In </b> & </b> Add Availability</div>)} */}
          <div class="circle-button">

            <div class="circle-button-text">Edit Availability</div>
          </div>
        </div>
      ) : (
        isSignedIn ? (
          <div>Add your availability above</div>
        ): (
          <form class="login-form">
            <div class="login-inputs">
              <input type="text" placeholder="Name"/>
              <input type="password" placeholder="Password (Optional)"/>
            </div>
            <button type="submit">Submit</button>
          </form>
        )
      )}

      
    </div>
  </div>
</Layout>

<style define:vars={{primary_bg}}>
  .availability-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #FFF8DE;
  }

  

  

  .availabilities {
    height: 80%;
  }


  .circle-button {
    position: relative;
    border: solid black 1px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto; /* Center the button horizontally */
    cursor: pointer;
  }

  .circle-button-text {
    position: absolute;
    text-wrap: nowrap;
    font-size: 24px; /* Increased font size */
    font-weight: bold;
    cursor: pointer;
    background-color: #cac3c3;
    padding: 2px;
  }

  .login {
    height: 20%;
    background-color: #8CA9FF;
    text-align: center;
  }

  .login-inputs {
    display: flex;
    flex-direction: row;
  }

  .login-inputs > input {
    margin: 5px;
    width: 100%;
  }

  input {
    height: 30px;
  }

</style>